{% extends "layout.html" %}
{% block content %}


<blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">The /me command has been deprecated. Apologies for the disruption. You can create italic text by wrapping it in underscores.</p>&mdash; Slack (@SlackHQ) <a href="https://twitter.com/SlackHQ/status/1103802742173249538?ref_src=twsrc%5Etfw">March 7, 2019</a></blockquote>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

<p>Slack has gotten rid of the me command.</p>

<p>This app adds it back.</p>

<h2>Privacy Policy</h2>

<p>This application only does one thing- it listens for "slash" commands sent by the Slack server and it responds with a message. It does not have, nor does it need, permission to read any messages on your Slack network.</p>

<p>No data from your network or account is saved, and nothing is sent to third parties. I don't even have Google Analytics installed.</p>

<h2>Support</h2>

The best way to get support is to bug me on <a href="https://twitter.com/tedivm">twitter</a>, either by publically calling out something that's broken or by sending a direct message. You can also <a href="https://github.com/tedivm/SlashMe/issues">open an issue on Github</a> or reach out via email to support@tedivm.com.


{% endblock %}
